<p>Productos del carrito</p>

<ul>
    {{#if cart.length}}

    {{#each cart}}
    <li>

       
        <p>{{product.title}}</p>
        <p>${{product.price}}</p>
        <p>Cantidad: {{this.quantity}}</p>
        <p>Total por cantidad: ${{product.totalPrice}}</p>
    </li>

    <button class="border-2 rounded-xl border-red-700 bg-red-700 text-white p-1 " onclick="deleteProduct(`{{id}}`,`{{product._id}}`)">Eliminar producto</button>

    {{/each}}

    <h2>Total del carrito: {{totalCart}}</h2>

    <button class="border-2 rounded-xl border-red-700 bg-red-700 text-white p-1 " onclick="emptyCart(`{{id}}`)">Vaciar el carrito</button>

    
<form action="/api/carts/{{id}}/purchase" method="POST">
<button class="border-2 rounded-xl border-blue-700 bg-blue-700 text-white p-1 m-1">Generar ticket de compra</button>
</form>


    {{else}}
    <p>No hay productos en el carrito</p>
    {{/if}}
</ul>


<script>
   async function deleteProduct(cartId, productId) {
     
        fetch(`/api/carts/${cartId}/product/${productId}`, { method: "DELETE" })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Error al eliminar el producto del carrito")
                }
               location.reload()
            })
            .catch(error => console.log(error));
    }

   async function emptyCart(cartId) {
   
        fetch(`/api/carts/${cartId}`, { method: "DELETE" })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Error al vaciar el carrito");
                }
                location.reload()
            })
            .catch(error => console.log(error))
    }

</script>