<header>

        <nav class="mx-auto bg-blue-700 flex p-12">
                <ul class="flex w-2/3 gap-10">

                        {{#if isAdmin}}
                        <li> <a class="text-3xl font-bold text-white" href="/products">Productos</a></li>
                        <li><a class="text-3xl font-bold text-white" href="/realtimeproducts">Actualización de
                                        productos</a></li>
                        {{else}}
                        <li> <a class="text-3xl font-bold text-white" href="/products">Productos</a></li>
                        <li> <a class="text-3xl font-bold text-white" href="/chat">Chat</a></li>
                        {{/if}}
                </ul>
                <ul class="flex w-1/3 gap-10">
                        {{#if user}}
                        <li> <a class="text-3xl font-bold text-white" href="/api/users/profile">Hola
                                        {{user.first_name}}</a></li>
                        <li> <a class="text-3xl font-bold text-white" href="/api/users/logout">Cerrar sesión</a></li>
                        <li><a class="text-4xl font-bold text-white" href="/carts/{{user.cart}}"> <ion-icon  name="cart-outline"></ion-icon></a></li>
                        {{else}}
                        <li><a class="text-3xl font-bold text-white" href="/login">Iniciar sesión</a></li>
                        <li> <a class="text-3xl font-bold text-white" href="/register">Ingresar</a></li>
                        <li><a class="text-4xl font-bold text-white" href="/carts/{{user.cart}}"> <ion-icon  name="cart-outline"></ion-icon></a></li>

                        {{/if}}
                </ul>

        </nav>


        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>











</header>

{{!-- <a class="text-3xl font-bold text-white" href="/profile">Mi perfil</a> --}}